.brand-name {
    color: white;
    font-weight: bold;
}

.all-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 20px solid var(--color4);
    border-top: 0;
}

.left-info,
.center-info,
.right-info {
    padding: 20px 10px 15px 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.left-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.center-info {
    width: 35%;
}

.right-info {
    width: 25%;
}

.info-title {
    font-size: 20px;
    color: var(--color1);
    font-weight: bold;
}

.terms div p,
.services div p,
.contact div p,
.times div p {
    margin-top: 10px;
    color: var(--color4);
}

.contact div p,
.times div p {
    display: flex;
    align-items: center;
}

.contact p .icon,
.times div p .icon {
    margin-right: 12px;
}

a {
    color: var(--color4);
    text-decoration: none;
}

.center-info {
    width: 30%;
}

.right-info {
    width: auto;
}